name: Test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: php $files=array('README.md','Autohash.php');foreach($files as $file){$hash.=hash('sha256', file_get_contents($file)).' '.$file."\n";}file_put_contents("hash.txt",$hash);
    - name: Commit changed files
      uses: stefanzweifel/git-auto-commit-action@v2.5.0
      with:
        commit_message: Apply php-cs-fixer changes
        branch: master
        file_pattern: hash.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
