name: Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo test >> a.txt
    - name: Run a multi-line script
      run: |
        ls
        git add a.txt
        git commit -m "test"
