name: Test

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Run a one-line script
      uses: actions/checkout@v1
      run: echo ls >> a.txt
    - name: Commit changed files
      uses: stefanzweifel/git-auto-commit-action@v2.5.0
      with:
        commit_message: Apply php-cs-fixer changes
        branch: ${{ github.head_ref }}
        file_pattern: src/\*.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
